/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  }

  html {
    flex: 1 0 auto;
  }*/

#snapshot{
	width: 30%;
	height:30px;
 	float: left;
 	padding-left: 30px;
}

 #graph{
 	width: 70%;
 	float: left;
 }

footer{
	position: fixed;
	bottom:0px;
	margin:auto;
	width:100%;
}

#searchbar{
	padding-top: 0px;
	margin-top: 0px;
}


.card-content{
	height:100%;
}
 .resultsBar{
 	height: 35px;
 	line-height: 35px;
 	width: 100%;
 	margin-bottom:0;
 
 }

 #results{
 	display:none;
 }

 #positive{
 	float: left;
 	height: 100%;
 	width:50%;
 }

#positive h5{
	margin:0px;
	padding:0px;
	line-height: 150%;
}

 #negative{
 	float: left;
 	height: 100%;
 	width:30%;
 }

 #negative h5{
 	margin:0px;
	padding:0px;
	line-height: 150%;
}

 #mixed{
 	float: left;
 	height: 100%;
 	width:20%;
 }

td{
	align: right;
}

 #mixed h5{
 	margin:0px;
	padding:0px;
	line-height: 150%;
 } 

 #positiveView{
 	 width: 100%;
 	display:block;

 }

#negativeView{
 	width: 100%;
 	display: block;
 	
 	
}

#mixedView{
	width: 100%;
	display:none;

}

#analytics{
	clear:both;
	margin-top: 0px;
	padding-top:5px;
	padding-right: 20px;
	padding-left: 20px;
	border-top: solid 4px white;
}






